In [176]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [177]:
def Movie_detail(url):
    # reading the url
    source = urlopen(url).read()
    # Make a soup 
    soup = BeautifulSoup(source,'lxml')
    
    # taking movie name from the title tag of html code
    Movie_name=soup.title.string
    print(Movie_name)
    
    # creating movie name dataframe
    movie={'Question':'Movie name', 'Detail':Movie_name.replace('- Wikipedia','')}
    
    #extracting the table with data
    table = soup.find('table',{'class':"infobox vevent"})
    
    # reading data into string
    df = pd.read_html(str(table))
    
    # making dataframe from string
    data=pd.DataFrame(df[0])
    
    # to show whole data of dataframe
    pd.set_option('display.max_colwidth', -1)
    
    # renaming the column name of data
    data.columns = ['Question', 'Detail']
    
    # appending movie dictionary in main dataframe
    data = data.append(movie, ignore_index=True)
    
    #changing the index of dataframe to Question
    data = data.set_index('Question')
    
    # changin the row to column
    data =data.T
    
    # keeping only required data
    data = data[['Movie name','Directed by','Release date','Box office','Starring' ]]
    
    # giving the name as per question
    data.columns = ['The movie name','Director','Year of release','Overall gross earning',' The cast']

    return data

## 1 Movie : five feet apart

In [178]:
Movie_detail('https://en.wikipedia.org/wiki/Five_Feet_Apart')

Five Feet Apart - Wikipedia

<ipython-input-177-f70fe5ad6b78>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,The movie name,Director,Year of release,Overall gross earning,The cast
Detail,Five Feet Apart,Justin Baldoni,"March 15, 2019",$91.5 million[4],Haley Lu Richardson Cole Sprouse Moisés Arias

## 2 Movie : The_Intern_(2015_film)

In [179]:
Movie_detail('https://en.wikipedia.org/wiki/The_Intern_(2015_film)')

The Intern (2015 film) - Wikipedia

<ipython-input-177-f70fe5ad6b78>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,The movie name,Director,Year of release,Overall gross earning,The cast
Detail,The Intern (2015 film),Nancy Meyers,"September 15, 2015Belgium) September 25, 2015",$194.6 million[1],Robert De Niro Anne Hathaway Rene Russo

## 3 Movie : Joker(2019 film)

In [180]:
Movie_detail('https://en.wikipedia.org/wiki/Joker_(2019_film)')

Joker (2019 film) - Wikipedia

<ipython-input-177-f70fe5ad6b78>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,The movie name,Director,Year of release,Overall gross earning,The cast
Detail,Joker (2019 film),Todd Phillips,"August 31, 2019Venice) October 4, 2019",$1.074 billion[4][5],Joaquin Phoenix Robert De Niro Zazie Beetz Frances Conroy

## 4 Movie : Zindagi Na Milegi Dobara

In [181]:
Movie_detail('https://en.wikipedia.org/wiki/Zindagi_Na_Milegi_Dobara')

Zindagi Na Milegi Dobara - Wikipedia

<ipython-input-177-f70fe5ad6b78>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,The movie name,Director,Year of release,Overall gross earning,The cast
Detail,Zindagi Na Milegi Dobara,Zoya Akhtar,15 July 2011,₹1.53 billion (US$21 million)[3],Hrithik RoshanAbhay DeolFarhan AkhtarKatrina KaifKalki Koechlin

## 5 Movie :Shang-Chi and the Legend of the Ten Rings

In [182]:
Movie_detail('https://en.wikipedia.org/wiki/Shang-Chi_and_the_Legend_of_the_Ten_Rings')

Shang-Chi and the Legend of the Ten Rings - Wikipedia

<ipython-input-177-f70fe5ad6b78>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,The movie name,Director,Year of release,Overall gross earning,The cast
Detail,Shang-Chi and the Legend of the Ten Rings,Destin Daniel Cretton,"August 16, 2021 September 3, 2021",$367.2 million[4][5],Simu Liu Awkwafina Meng'er Zhang Fala Chen Florian Munteanu Benedict Wong Michelle Yeoh Ben Kingsley Tony Leung